<body id="main">
    <nav class="navbar navbar-light bg-light">
        <a id="navBarTitle" class="navbar-brand" href="#">Blackjack</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="mainCard" class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Dealer's Cards</h6>

                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="card-subtitle mb-2 text-muted">Dealer's Cards</h6>

                                <div id="dealerPlacement" class="row">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="card-subtitle mb-2 text-muted">Player's Cards</h6>

                                <div id="cardPlacement" class="row">

                                </div>
                            </div>
                        </div>

                    </div>

                    <br>



                    <div id="PlayerInfo" class="row">

                        <h3>{{gameData2.name}}</h3>
                        <img id="icon" src={{gameData2.icon}}>
                        <h3>$
                            <span id="playerFunds">{{gameData2.total_credits}}</span>
                        </h3>
                    </div>


                </div>
                <div id="sideButtons" class="col-md-2">
                    <div id="hideDealerBtn" class="row">
                        <button id="dealBtn" type="button" class="btn btn-danger forceWidth" style="margin-bottom: 10px;">DEAL</button>

                    </div>
                    <div id="sideButtons" class="col-md-2">
                        <div class="row">
                            <button id="addMoney" class="btn btn-success forceWidth"> Add $10</button>
                        </div>
                        <div class="row">
                            <button id="cashOut" class="btn btn-danger forceWidth">Cash Out</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>