<body id="main">
    <nav class="navbar navbar-light bg-light">
        <a id="navBarTitle" class="navbar-brand" href="#">Blackjack</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="mainCard" class="card">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="card-subtitle mb-2 text-muted">Dealer's Cards</h6>
                                {{!!--dynamically create cards based on how many have been played during the hand}}

                                <div id="dealerPlacement" class="row">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="card-subtitle mb-2 text-muted">Player's Cards</h6>

                                <div id="cardPlacement" class="row">

                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="sideButtons" class="col-md-2">
                        <div id="hideDealerBtn" class="row">
                            <button id="dealBtn" type="button" class="btn btn-danger forceWidth" style="margin-bottom: 10px;">DEAL</button>

                        </div>
                        <div id="showHit_and_stayBtns" class="row">
                            <button id="hitBtn" type="button" class="btn btn-warning forceWidth" style="margin-bottom: 10px;">HIT</button>
                            <button id="stayBtn" type="button" class="btn btn-warning forceWidth" style="margin-bottom: 10px;">STAY</button>
                        </div>
                        <div class="row">
                            <button id="addMoney" class="btn btn-success forceWidth"> Add $</button>
                        </div>
                        <div class="row">
                            <button id="cashOut" class="btn btn-danger forceWidth">Cash Out</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {{!--
    <script>
        var time = 15;
        var timeOut;

        $(document).ready(function () {

            waitForGame();
            function waitForGame() {
                time = setTimeout(3000);
                $("#timeLeft").append(time);
                clearTimeout(time);
                $("#timeLeft").hide();
            }

            gameStart();
            function gameStart() {

                time = setInterval(countdown, 15000);
                $("#timeLeft").append(time);



            }

        })

//!! lobby and list of games with ids and each player that clicks on ready.
//once all players status is ready the game can start players logged into page
//select all from players where gameid = 1 


    </script> --}}
</body>