<div id="createPlayer" class="container">

    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First name">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select an Icon</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>
                    <img src="/pics/dog_.jpg">
                </option>
                <option>
                    <img src="/pics/hat.jpg">
                </option>
                <option>
                    <img src="/pics/Jousting_Helmet.png">
                </option>
                <option>
                    <img src="/pics/monopoly_token_shoe.png">
                </option>
                <option>
                    <img src="/pics/monopoly-thimble-780x439.jpg">
                </option>
                <option>
                    <img src="/pics/cat.jpg">
                </option>
                <option>
                    <img src="/pics/trex.jpg">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">How much are you starting with?</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>$10</option>
                <option>$50</option>
                <option>$75</option>
                <option>$100</option>
                <option>$150</option>
            </select>
        </div>

    </form>



</div>