<body id="createPlayer">

    <div id="infoForm" class="container">

        <div class="col-md-12">

            <form>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>

                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/dog_.jpg">
                        </label>
                    </div>
                    {{!--
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/hat.jpg">
                        </label>
                    </div> --}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/Jousting_Helmet.png">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/monopoly_token_shoe.png">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/monopoly-thimble-780x439.jpg">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/cat.jpg">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/trex.jpg">
                        </label>
                    </div>

                </div>
                {{!--
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select an Icon</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>
                            <img src="/pics/dog_.jpg">
                        </option>
                        <option>
                            <img src="/pics/hat.jpg">
                        </option>
                        <option>
                            <img src="/pics/Jousting_Helmet.png">
                        </option>
                        <option>
                            <img src="/pics/monopoly_token_shoe.png">
                        </option>
                        <option>
                            <img src="/pics/monopoly-thimble-780x439.jpg">
                        </option>
                        <option>
                            <img src="/pics/cat.jpg">
                        </option>
                        <option>
                            <img src="/pics/trex.jpg">
                        </option>
                    </select>
                </div> --}}
                <div class="form-group">
                    <label for="exampleFormControlSelect2">How much are you starting with?</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>$10</option>
                        <option>$50</option>
                        <option>$75</option>
                        <option>$100</option>
                        <option>$150</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>


</body>