<body id="createPlayer">

    <div id="infoForm" class="container-fluid sign_up">

        <div class="col-md-12 ">

            <form>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" id="signUpName" placeholder="Full Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>

                <div class="row playerIcons">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="dog" id="dog" value="option1">
                        <label class="form-check-label" for="dog">
                            <img src="/pics/dog_.jpg">
                        </label>
                    </div>

                    {{!--
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            <img src="/pics/hat.jpg">
                        </label>
                    </div> --}}

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="jousting" id="jousting" value="option2">
                        <label class="form-check-label" for="jousting">
                            <img src="/pics/Jousting_Helmet.png">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shoe" id="shoe" value="option3">
                        <label class="form-check-label" for="shoe">
                            <img src="/pics/monopoly_token_shoe.png">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="thimble" id="thimble" value="option4">
                        <label class="form-check-label" for="thimble">
                            <img src="/pics/monopoly-thimble-780x439.jpg">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cat" id="cat" value="option5">
                        <label class="form-check-label" for="cat">
                            <img src="/pics/cat.jpg">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="trex" id="trex" value="option6">
                        <label class="form-check-label" for="trex">
                            <img src="/pics/trex.jpg">
                        </label>
                    </div>

                </div>
                {{!--
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select an Icon</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>
                            <img src="/pics/dog_.jpg">
                        </option>
                        <option>
                            <img src="/pics/hat.jpg">
                        </option>
                        <option>
                            <img src="/pics/Jousting_Helmet.png">
                        </option>
                        <option>
                            <img src="/pics/monopoly_token_shoe.png">
                        </option>
                        <option>
                            <img src="/pics/monopoly-thimble-780x439.jpg">
                        </option>
                        <option>
                            <img src="/pics/cat.jpg">
                        </option>
                        <option>
                            <img src="/pics/trex.jpg">
                        </option>
                    </select>
                </div> --}}
                <div class="form-group">
                    <label for="exampleFormControlSelect2">How much are you starting with?</label>
                    <select multiple class="form-control" id="moneyAmount">
                        <option value=10>$10</option>
                        <option value=50>$50</option>
                        <option value=75>$75</option>
                        <option value=100>$100</option>
                        <option value=150>$150</option>
                    </select>
                </div>

                <button type="button" id="signUpSubmit" class="btn btn-primary">Submit!</button>


            </form>

        </div>

    </div>


</body>

{{!! Remove titles from input and make the input's a different color and possibly bold the lettering}}