<body id="createPlayer">
    <div id="infoForm" class="container-fluid sign_up">
        <div class="col-md-12 ">
            <form>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        {{!--
                        <label for="name">Full Name</label> --}}
                        <input type="text" class="form-control" id="signUpName" placeholder="Full Name">
                    </div>
                    <div class="form-group col-md-6">
                        {{!--
                        <label for="inputEmail4">Email</label> --}}
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        {{!--
                        <label for="inputPassword4">Password</label> --}}
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="row playerIcons">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="blackjackImg" id="dog" value="/pics/dog_small.jpg">
                        <label class="form-check-label" for="dog">
                            <img src="/pics/dog.png" class="monop">
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="blackjackImg" id="jousting" value="/pics/hat_small.png">
                        <label class="form-check-label" for="jousting">
                            <img src="/pics/hat.png" class="monop">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="blackjackImg" id="shoe" value="/pics/shoe_small.png">
                        <label class="form-check-label" for="shoe">
                            <img src="/pics/shoe.png" class="monop">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="blackjackImg" id="thimble" value="/pics/car_small.png">
                        <label class="form-check-label" for="thimble">
                            <img src="/pics/car.png" class="monop">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="blackjackImg" id="cat" value="/pics/iron_small.png">
                        <label class="form-check-label" for="cat">
                            <img src="/pics/iron.png" class="monop">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="blackjackImg" id="trex" value="/pics/boat_small.png">
                        <label class="form-check-label" for="trex">
                            <img src="/pics/boat.png" class="monop">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <h5 id="startingWith">How much to start?</h5>
                    <select multiple class="form-control" id="moneyAmount">
                        <option value=10>$10</option>
                        <option value=50>$50</option>
                        <option value=75>$75</option>
                        <option value=100>$100</option>
                        <option value=150>$150</option>
                    </select>
                </div>
                <button type="button" id="signUpSubmit" class="btn btn-primary">Submit!</button>

            </form>
        </div>
    </div>



</body>

{{!! Remove titles from input and make the input's a different color and possibly bold the lettering}}