<body id="welcome">

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Lets Play Blackjack!</h1>
            <hr class="my-4">

            <div class="row">

                <p class="lead">
                    <a class="btn btn-outline-dark" href="/index" role="button">New Game</a>
                </p>

                <p class="lead">
                    <a class="btn btn-outline-dark" href="#" role="button">Join Game</a>
                </p>


            </div>


        </div>

    </div>

</body>

{{!! if a game is already in session the New Game Button should be not populate and the Join Game Should populate}} {{!!
we should add our mascot here on this page}}