<body id="waitingRoom">

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Lets Play Blackjack!</h1>
            <hr class="my-4">

            <div class="row">
                <div class="col-md-6" id="playerData">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        <a id="playButton" class="btn btn-outline-danger" role="button">Play Game</a>
                    </p>
                    {{!--
                    <p class="lead">
                        <a class="btn btn-outline-danger" href="#" role="button">Join Game</a>
                    </p> --}}
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <a id="money" class="btn btn-outline-dark" href="#" role="button">Cash Out</a>
                    <a id="money" class="btn btn-outline-dark" href="#" role="button">Add $</a>

                </div>
            </div>

        </div>

    </div>

</body>