<body id="Welcome">

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Wanna Play?</h1>
            <hr class="my-4">

            <div class="row">
                <img id="mascot" src="#" />
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a id="money" class="btn btn-outline-dark" href="/login" role="button">Login</a>
                    <a id="money" class="btn btn-outline-dark" href="/signUp" role="button">Sign Up</a>

                </div>
            </div>

        </div>

    </div>

</body>