<body id="Welcome">

    <div class="container-fluid">

        <div class="sign_up_container">
            <h1 class="display-4">Wanna Play BlackJack?</h1>

            <div class="row">
                <div class="col-md-12">
                    <a id="money" class="btn btn-outline-dark" href="/login" role="button">Login</a>
                    <a id="money" class="btn btn-outline-dark" href="/signUp" role="button">Sign Up</a>

                </div>
            </div>

        </div>

    </div>

</body>