 #money:hover {
   background-color: black;
}

#main {
   background-image: url('/pics/12282014BlackjackTable.jpg');
   background-repeat: no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 
}

#navBarTitle {
   font-family: 'Abril Fatface', cursive;

}

#navDropButton {
   background-color: black;

}

#mainCard {
   height: 550px;
   background-color: rgba(0, 0, 0, 0.685);
   margin: 50px auto;
   width: 100%;
   max-width: 960px;
   position: relative;
   max-width: 100%;
   border: solid black 5px;
   color:whitesmoke;
}

#betQuestion {
  color: white;

}

#bets {
  margin: 10px;
}

/* #userPicSelection {
   height: 40px;
   width: 40px;
   margin-left: 10px;
 
} */

#moneyLeft {
   margin-left: 5px;
}

#sideButtons {
   position: absolute;
   bottom: 2%;
   right: 2%;

}

#addMoney {
   padding: 10px;
   margin-bottom: 10px;
   border: solid black 2px;
}

#cashOut, #dealBtn, #betFive, #betTen, #betAll {
   padding: 10px;
   border: solid black 2px;
}

#betFive, #betTen, #betAll {
  margin: 5px;
}
#betFive:hover, #betTen:hover, #betAll:hover {
  background-color: black;
}


#cardImg {
  width: 10%;
  height: 10%;
  max-width: 264px;
  margin: 0.5%;
}
.forceWidth {
  width: 80%;
}

#PlayerInfo {
  color: whitesmoke;

}

#icon {
  height: 5%;
  width: 5%;
}

h6 {
  color: whitesmoke !important;
}

#total {
  margin: 0 0 0 10px;
}
