#money:hover {
    background-color: black;
}

#main {
    background-image: url('/css/12282014BlackjackTable.jpg');
    background-repeat: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
   
}

#navBarTitle {
    font-family: 'Abril Fatface', cursive;

}

#navDropButton {
    background-color: black;

}


#mainCard {
    height: 550px; 
   background-color: rgba(0, 0, 0, 0.685);
   /* margin-top: 50px; */
   margin: 50px auto;
}

#pOne {

    height: 150px;
}

#pTwo {
   
    height: 150px;
}

#dealer {
    margin: auto;
}

#pThree {
   
    height: 150px;
    
}

#pFour {
    
    height: 150px;
}

#players {
  
}