#money:hover {
   background-color: black;
}

.timer {
   font-size: 25px;
   color: black;
}
#main {
   background-image: url('/pics/12282014BlackjackTable.jpg');
   background-repeat: no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 
}

#navBarTitle {
   font-family: 'Abril Fatface', cursive;

}

#navDropButton {
   background-color: black;

}

#mainCard {
   height: 550px;
   background-color: rgba(0, 0, 0, 0.685);
   margin: 50px auto;
  width: 100%;
  max-width: 960px;
   position: relative;
   max-width: 100%;
   border: solid black 5px;

}

.bottom-row {
   position: absolute;
   bottom: 0;
   width: 103.2%;
}

#pOne {
   height: auto;
   border: solid black 2px;
   background-color: whitesmoke;
}

#pTwo {
  position: relative;
  margin: 0 0 0 auto;
   height: auto;
   border: solid black 2px;
   background-color: whitesmoke;
}

#dealer {
   position: relative;
   top: 140%;
   left: 40%;
   z-index: 11;
   border: solid black 2px;
   background-color: whitesmoke;
 
}

#pThree {
   height: auto;
   border: solid black 2px;
   background-color: whitesmoke;
}

.right-align {
   margin: 0 0 0 auto;
}

#pFour {
   margin: 0 0 0 auto;
   height: auto;
   border: solid black 2px;
   background-color: whitesmoke;
}

#userPicSelection {
   height: 40px;
   width: 40px;
   margin-left: 10px;
 
}

#moneyLeft {
   margin-left: 5px;
}

#sideButtons {
   position: absolute;
   bottom: 2%;
   right: 2%;

}

#addMoney {
   padding: 10px;
   margin-bottom: 10px;
   border: solid black 2px;
}

#cashOut {
   padding: 10px;
   border: solid black 2px;
}
.customCard {
  width: 10%;
  max-width: 264px;
  margin: 0 .5%;
}
.customCard img {
  width: 100%;
}
.forceWidth {
  width: 80%;
}