img {
    height: 50px;
    width: 60px;
    margin: 10px;
}

#createPlayer {
    background-color: lightgray;
    
}

#infoForm {
    margin-top: 50px;
    color: black;
}

#logIn {
    background-color: black;
    color: white;
    
}

#logInBox {
    border: solid red 2px;
    padding: 15px;
    border-width: 150px;
}