.form-check-label {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    width: 100px;
    margin-top: 5px;
    padding: 0;
    height: 100px;
}
img.monop {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
}
.form-check-input:hover + .form-check-label,
.form-check-label:hover img {
  top: 0px;
}

#createPlayer {
    background-color: lightgray;
    
}

#infoForm {
    margin-top: 50px;
    color: black;
}

.sign_up {
    box-shadow: 0 0 10px black;
 
    border-radius: 1px solid #000 !important;
    text-align: center;
    width: 90%;
    margin: 50px auto;
    background: url('/pics/mascot.png')no-repeat, radial-gradient(rgba(255,0,0,0) , rgba(255,0,0,1));
    background-size: 80%, auto;
    padding: 5% 0;
    background-position: center center, center center;
}
#logIn {
    background-color: #d3d3d3;;
    color: white;
    
}
.form-check {
    margin: 0 auto;
}
.playerIcons {
    width: 100%;
    margin: 0 auto;
    color: black;
    overflow: hidden;
    text-align: center;
    background: rgba(255,255,255,0.75);
}
.playerIcons:hover {
    background: white;
}


#logInBox {
  
    margin: 0 auto;
 
   
}
#logInBox form {
    margin: 0 auto;
    width: 90%;
}
.form-group {
    text-align: center;
}