#welcome {
    background-color: rgba(0, 0, 0, 0.746);
}

h1 {
    font-family: 'Hanalei Fill', cursive;
}

.jumbotron {
    color: black;
    text-align: center;
    width: 850px;
    margin: 50px auto;
    background: radial-gradient(rgba(255,0,0,0), rgba(255,0,0,1));
}

.lead {
    font-size: 10px;
    font-family: 'Audiowide', cursive;
    
}

#money {
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}