body {
    background: #d3d3d3;
}
.container-fluid {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
#money {
    background: black;
    color: white;
}
#money:hover {
    background: rgba(0,0,0,0.75);
}
#welcome {
    background-color: rgba(0, 0, 0, 0.746);
}

h1 {
    font-family: 'Hanalei Fill', cursive;
}
.sign_up_container {
    box-shadow: 0 0 10px black;
 
    border-radius: 1px solid #000 !important;
    text-align: center;
    width: 90%;
    margin: 50px auto;
    background: url('/pics/mascot.png')no-repeat, radial-gradient(rgba(255,0,0,0) , rgba(255,0,0,1));
    background-size: 80%, auto;
    padding: 25% 0;
    background-position: center center, center center;
}

.display-4 {
    background: rgba(0,0,0,0.25);
    padding: .5%;
    text-align: center;
    width: 90%;
text-shadow: 0 0 20px black;
    color: white !important;
    margin: 0 auto 2% auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.lead {
    text-align: right;
    font-size: 10px;
    font-family: 'Audiowide', cursive;

}

#money {
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}

#mascot {}